@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap");

html,
body {
  margin: 0;
  overflow: auto;
  height: 100%;
  background: #1a1a1d;
  background: linear-gradient(to bottom, #1a1a1d 40%, #38383d 90%);

  font-size: 1.15em;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between; /*horizontal*/
  align-items: center; /*vertical*/
}

main {
  padding-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

@media (max-width: 1072px) {
  header {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  #logo {
    margin-left: 0px;
  }
}

#logo {
  margin-left: 50px;
}

#title {
  font-family: "Roboto", sans-serif;
  color: #950740;
  text-shadow: 2px 2px #6f2232;
  font-size: 70px;
  text-align: center;
}

#parking_id {
  color: #950740;
  font-weight: bold;
  font-size: 30px;
}
